<%= render 'navbar/layouts' %>

<div class="banner">
  <h1>Grade 10</h1>
</div>

<div class="sub_nav_color">
  <div class="wrapper">
      <nav>
        <ul>
          <li><a href="#" >All</a></li>
          <li><a href="#" id="active">Math</a></li>
          <li><a href="#">Physics</a></li>
          <li><a href="#">Chemistry</a></li>
          <li><a href="#">Biology</a></li>
          <li><a href="#">Geology</a></li>
          <li><a href="#">English</a></li>
          <li><a href="#">Arabic</a></li>
        </ul>
      </nav>
  </div>
</div>

<div class="courses">
  <div class="semester_1">
    <h3>Semester 1</h3>
    <div class="course_list">
      <h3>Math - First Period</h3>
      <p>Midterm exam review for first period math</p>
      <%= link_to "View Course", pages_preview_path, :class => "button button_orange" %>
    </div>
    <div class="course_list">
      <h3>Math - First Period</h3>
      <p>Midterm exam review for first period math</p>
      <div class="button button_orange">View Course</div>
    </div>
    <div class="course_list">
      <h3>Math - First Period</h3>
      <p>Midterm exam review for first period math</p>
      <div class="button button_orange">View Course</div>
    </div>
  </div>
  <div class="semester_2">
    <h3>Semester 2</h3>
    <div class="course_list">
      <h3>Math - First Period</h3>
      <p>Midterm exam review for first period math</p>
      <div class="button button_orange">View Course</div>
    </div>
    <div class="course_list">
      <h3>Math - First Period</h3>
      <p>Midterm exam review for first period math</p>
      <div class="button button_orange">View Course</div>
    </div>
    <div class="course_list">
      <h3>Math - First Period</h3>
      <p>Midterm exam review for first period math</p>
      <div class="button button_orange">View Course</div>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper_skinny">
    <div class="footer_content">
      <p>Copyright arabecademy 2015</p>
    </div>
  </div>
</footer>