<div id="background">
  <div class="nav_color">
    <div class="wrapper_wide">
      <header class:"cf">
        <a href="#" id="logo">arabecademy</a>
        <nav>
          <ul>
            <li><a href="#">Courses</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#" id="sign_in">Sign In</a></li>
          </ul>
        </nav>
      </header>
    </div>
  </div>
  <div class="wrapper_skinny">
    <h1>Helping Students All Over Kuwait to<br> Achieve their Full Academic Potential</h1>
    <h2><a href="#">Sign up</a> now to get access to your free chapter</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tUAsE4ilOok" frameborder="0" allowfullscreen></iframe>
    <a href="#" class="button button_orange">View Courses</a>
    <a href="#" class="button button_blue">Learn More</a>
  </div>
</div>