<%= render 'layouts/navbar' %>
<div class="form_wrapper">
	<div class="wrapper_skinny">
		<h1>Editing Course</h1>

		<%= render 'form' %>

	<!-- 	<%= link_to 'Show', @grade_course %> |
		<%= link_to 'Back', @grade_courses_path %> -->
	</div>
</div>
