$orange: #05785e;
$blue: #ca5c34;
$dark: #222222;

.course_preview {
	overflow: hidden;
	.video_content {
		margin: 4rem 0;
		float: left;
		h2 {
			margin: 0;
			font-size: 2rem;
		}
	}
	.course_info {
		padding: 2rem 2rem;
		margin: 8rem 0 0 5rem;
		float: left;
		font-size: 1.5rem;
		width: 30%;
		border-style: solid;
		border-width: 0.1rem;
		border-radius: 2rem;
		background-color: #f2f2f2;
		.button {
			text-align: center;
			margin: 5rem auto 0 auto;
			display: block;
		}
	}
	.course_description {
		float: left;
		margin-bottom: 6rem;
	}
}


